name: predictive-ml-ci

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  pipeline:
    runs-on: ubuntu-latest

    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: |
        pip install pandas numpy scikit-learn joblib datasets huggingface_hub streamlit

    - name: Run ML Pipeline
      run: |
        python run_all.py

    - name: Deploy Streamlit App to HuggingFace
      run: |
        python deployment/push_to_hf.py

    - name: Commit updated artifacts back to GitHub
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add artifacts/ data/ || true
        
        if git diff --cached --quiet; then 
          echo "No changes"; 
        else 
          git commit -m "Update artifacts and data"; 
          git push; 
        fi
